@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FCBA2D;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
    --green : #1F674A;
    --light-green : #398166;


}

html {
	overflow-x: hidden;
}

body {
    font-family: var(--poppins);
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--dark);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1.5em;
    margin: 0.5em;
    font-family: var(--lato);
    animation: fadeInFromLeft 1.5s ease-in-out;
}

header .logo {
    height: auto;
}

.logo img {
    width: 50%;
    max-width: 150px; /* Atur max-width agar logo tidak terlalu besar */
    height: auto; /* Pastikan tinggi otomatis mengikuti lebar untuk menjaga aspek rasio */
}

.navbar {
    list-style: none;
    display: flex;
    gap: 3rem;
    margin: 0;
    padding-right: 0.4em;
    transition: all 0.5s ease;
}

nav ul.navbar li a {
    text-decoration: none;
    color: var(--grey);
    font-weight: bold;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--grey);
    margin: 5px;
    transition: all 0.3s ease;
}

.container {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow-x: auto;
    margin-block: 25px;
    margin-inline: 25px;
}

table.dataTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}

table.dataTable thead th {
    background-color: green;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;  
}

table.dataTable tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Tambahkan kelas khusus untuk mengatur lebar kolom */
.col-order-id { width: 150px; }
.col-order-date { width: 150px; }
.col-ship-date { width: 150px; }
.col-ship-mode { width: 150px; }
.col-customer-id { width: 150px; }
.col-customer-name { width: 200px; }
.col-product-id { width: 150px; }
.col-category { width: 150px; }
.col-product-name { width: 200px; }
.col-sales { width: 150px; }
.col-quantity { width: 150px; }
.col-discount { width: 150px; }
.col-profit { width: 150px; }



.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_length {
    display: flex;
    justify-content: left;
    margin-bottom: 15px;
    width: 100%;
    align-items: center;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 10px; /* Memberikan jarak antara label dan input */
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
    width: 600px;
}

.dataTables_wrapper .dataTables_filter input:focus {
    border-color: green; /* Mengubah warna border saat input difokuskan */
}

.dataTables_wrapper .dataTables_filter label {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.dataTables_wrapper .dataTables_length label {
    display: flex;
    align-items: center;
}

.dataTables_wrapper .dataTables_paginate {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.dataTables_wrapper .dataTables_info {
    margin-top: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 5px 10px;
    margin: 0 2px;
    border: 1px solid green;
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: green;
    border: 1px solid green;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    font-family: var(--poppins);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: var(--dark);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
    }

    .burger {
        display: block;
    }

    nav ul.navbar.nav-active {
        display: flex;
        opacity: 1;
        visibility: visible;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .container {
        width: 95%;
        padding: 10px;
        transform: scale(1); /* Kembalikan skala ke normal untuk layar kecil */
    }

    table.dataTable thead th {
        font-size: 12px;
    }

    table.dataTable tbody td {
        font-size: 12px;
    }

    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_length {
        flex-direction: column; /* Mengatur elemen dalam kolom */
        align-items: flex-start; /* Menjaga elemen sejajar di kiri */
    }

    .dataTables_wrapper .dataTables_filter input {
        width: 100%;
        margin: 5px 0;
    }
}


@media (max-width: 1200px) {
    .logo img {
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar{
        flex-direction: row;
        gap: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
        padding: 5px;
        transform: scale(1); /* Kembalikan skala ke normal untuk layar kecil */
    }

    table.dataTable thead th {
        font-size: 10px;
    }

    table.dataTable tbody td {
        font-size: 10px;
    }

    .dataTables_wrapper .dataTables_filter,
    .dataTables_wrapper .dataTables_length {
        flex-direction: column; /* Mengatur elemen dalam kolom */
        align-items: flex-start; /* Menjaga elemen sejajar di kiri */
    }

    .dataTables_wrapper .dataTables_filter input {
        width: 100%;
        margin: 5px 0;
    }
}