@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #3c91e6;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #fcba2d;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
  --green: #1f674a;
  --light-green: #398166;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: var(--dark);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 1.5em;
  margin: 0.5em;
  font-family: var(--lato);
  /* animation: fadeInFromLeft 1.5s ease-in-out; */
}

header .logo {
  height: auto;
}

.logo img {
  width: 50%;
  max-width: 150px;
  height: auto;
  cursor: pointer;
}

/* Navigation Bar */
.navbar {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin: 0;
  padding-right: 0.4em;
  cursor: pointer;
  /* transition: all 0.5s ease; */
}

nav ul.navbar .nav a {
  text-decoration: none;
  color: var(--grey);
  font-weight: bold;
}

.burger {
  display: none;
  flex-direction: column;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: var(--grey);
  margin: 5px;
  transition: all 0.3s ease;
}

.background {
  position: relative;
  background: url("/assets/Giant_Superstore.png") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  border-radius: 1.5em;
  margin: 0.5em;
  padding: 0;
  animation: complexAnimation 2s ease-in-out;
}

.case {
  position: absolute;
  right: 5.5rem;
  bottom: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
  font-family: var(--poppins);
  color: white;
  max-width: 90%;
  animation: fadeInFromTop 2s ease-in-out;
}

.definition {
  padding: 2rem;
  margin: 0.5em;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  border-radius: 1.5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap: 2rem;
}

.explain {
  padding: 1rem;
  border-radius: 10px;
  max-width: 90%;
  margin-left: 6.6rem;
  margin-bottom: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeInFromBottom 1.5s ease-in-out;
}

.explain h2 {
  margin-top: 0;
  text-align: center;
  font-family: var(--lato);
  font-weight: bold;
}

.explain p {
  text-align: center;
  font-family: var(--poppins);
  font-size: 1.2em;
}

.cycle {
  display: flex;
  gap: 2rem;
}

.cards {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 20px;
  opacity: 0; /* Mulai dengan tidak terlihat */
  animation: fadeInUp 1s ease-in-out forwards;
}

.cards:nth-child(1) {
  animation-delay: 0.1s; /* Penundaan animasi untuk kartu pertama */
}

.cards:nth-child(2) {
  animation-delay: 0.3s; /* Penundaan animasi untuk kartu kedua */
}

.cards:nth-child(3) {
  animation-delay: 0.5s; /* Penundaan animasi untuk kartu ketiga */
}

/* Tambahkan lebih banyak penundaan animasi untuk kartu tambahan */
.cards:nth-child(4) {
  animation-delay: 0.7s;
}

.cards:nth-child(5) {
  animation-delay: 0.9s;
}

.cards span {
  display: flex;
  justify-content: center;
}

.cards p {
  font-family: var(--poppins);
}

.cards h3 {
  font-family: var(--lato);
}

footer {
  height: 40px;
  background: var(--dark);
  text-align: center;
  font-family: var(--poppins);
  width: 100%;
  /* position: fixed; */
  padding: 10px;
  color: var(--grey);
}

/* Member */
.member {
  display: flex;
  flex-direction: column;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
}

.member h1 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  font-family: var(--lato);
}

.wrapper {
  max-width: 1500px;
  width: 100%;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: var(--green);
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
  font-family: var(--poppins);
}
.carousel .card span {
  color: #6a6d78;
  font-size: 1.31rem;
  font-family: var(--poppins);
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: default;
}

table th,
table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: var(--green);
  color: white;
}

.container_table {
  margin-top: 20px;
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow-x: auto;
  margin-block: 25px;
  margin-inline: 25px;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#pagination button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid var(--green);
  background-color: var(--green);
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

#page-input::-webkit-outer-spin-button,
#page-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#page-input {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Style adjustments for better appearance */
#page-info,
#page-input {
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  font-size: inherit;
  padding: 0;
  width: auto;
}

#page-info {
  margin: 0 10px;
  font-weight: bold;
  border-bottom: 1px none #000; /* Add a subtle underline to indicate it's clickable */
}

#page-input {
  outline: none;
  font-size: inherit;
  width: 50px;
}

.hidden {
  display: none;
}

#page-info {
  margin: 0 10px;
  font-weight: bold;
}

/* Dashboard Charts */
#dashboard {
  width: 100%;
  padding: 24px 24px;
  font-family: var(--poppins);
}

#dashboard .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  cursor: default;
}

#dashboard .box-info li {
  padding: 24px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  grid-gap: 24px;
}
#dashboard .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#dashboard .box-info li:nth-child(1) .bx {
  background: var(--light-blue);
  color: var(--blue);
}
#dashboard .box-info li:nth-child(2) .bx {
  background: var(--light-yellow);
  color: var(--yellow);
}
#dashboard .box-info li:nth-child(3) .bx {
  background: var(--light-orange);
  color: var(--orange);
}
#dashboard .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}
#dashboard .box-info li .text p {
  color: var(--dark);
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 24px;
  padding-top: 24px;
  max-width: auto;
  width: 100%;
  cursor: default;
}

.chart-container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container h3 {
  margin-bottom: 20px;
}

canvas {
  width: 100% !important;
  height: 400px !important;
}
/* Media Queries untuk Responsive Design */
@media (max-width: 1406px) {
  .container_table {
    padding: 10px;
    margin-block: 15px;
    margin-inline: 10px;
  }

  table th,
  table td {
    padding: 8px;
  }

  #pagination {
    flex-direction: column;
    margin-top: 10px;
  }

  #pagination button {
    margin: 5px 0;
  }

  #page-info,
  #page-input {
    font-size: 14px;
  }

  #page-info {
    margin: 5px 0;
  }

  #page-input {
    width: 40px;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}

@media (max-width: 1200px) {
  .logo img {
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar {
    flex-direction: row;
    gap: 1rem;
  }

  .background {
    flex-direction: column;
    padding: 1rem;
  }

  .case {
    right: auto;
  }

  .definition {
    padding: 1rem;
  }

  .cycle {
    flex-direction: column;
  }

  .definition p {
    font-size: small;
    padding: 2%;
  }

  .explain {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 0;
  }
}

@media (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    position: absolute;
    right: 30px; /* Adjust as needed */
    top: 62px;
    transform: translateY(-50%);
    z-index: 3;
  }

  .burger div {
    width: 24px;
    height: 2px;
    background-color: #fff;
    transition: all 0.3s linear;
  }

  .navbar {
    display: none;
    flex-direction: column;
    background-color: var(--dark);
    opacity: 0;
    visibility: hidden;
    align-items: center;
    justify-content: center; /* Center content vertically */
    padding: 20px 0;
    z-index: 4;
    border-radius: 20px;
  }

  .navbar.nav-active {
    display: flex;
    opacity: 1;
    visibility: visible;
    margin: 0 0.5em;
  }

  .navbar .nav {
    margin: 10px 0;
    text-decoration: none;
    font-size: 18px;
  }
  .burger.toggle .line1 {
    transform: rotate(-45deg) translate(-12px, 5px);
  }

  .burger.toggle .line2 {
    opacity: 0;
  }

  .burger.toggle .line3 {
    transform: rotate(45deg) translate(-11px, -5px);
  }

  header .logo {
    height: auto;
    position: relative;
    z-index: 3;
    background-color: var(--dark);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .logo img {
    width: 15%;
    max-width: 150px;
    height: auto;
    cursor: pointer;
  }

  .slide-content {
    margin: 0 10px;
  }

  .wrapper .carousel {
    grid-auto-columns: 100%;
  }

  .member {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }

  .container {
    width: 100%;
    padding: 10px;
    transform: scale(1); /* Kembalikan skala ke normal untuk layar kecil */
    display: grid;
  }

  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  table tr {
    border: 1px solid #ccc;
    margin-bottom: 5px;
  }

  table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    white-space: pre-wrap;
    text-align: left;
  }

  table td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: calc(50% - 12px);
    padding-right: 10px;
    white-space: pre-wrap;
    font-weight: bold;
  }

  table td:nth-of-type(1):before {
    content: "Order ID";
  }
  table td:nth-of-type(2):before {
    content: "Order Date";
  }
  table td:nth-of-type(3):before {
    content: "Ship Date";
  }
  table td:nth-of-type(4):before {
    content: "Ship Mode";
  }
  table td:nth-of-type(5):before {
    content: "Customer ID";
  }
  table td:nth-of-type(6):before {
    content: "Customer Name";
  }
  table td:nth-of-type(7):before {
    content: "Product ID";
  }
  table td:nth-of-type(8):before {
    content: "Category";
  }
  table td:nth-of-type(8):before {
    content: "Sub-Category";
  }
  table td:nth-of-type(9):before {
    content: "Product Name";
  }
  table td:nth-of-type(10):before {
    content: "Sales";
  }
  table td:nth-of-type(11):before {
    content: "Quantity";
  }
  table td:nth-of-type(12):before {
    content: "Discount";
  }
  table td:nth-of-type(13):before {
    content: "Profit";
  }
  table td:nth-of-type(14):before {
    content: "Outlier";
  }

  .carousel .card h2 {
    font-weight: 500;
    font-size: 0.8em;
    margin: 30px 0 5px;
    font-family: var(--poppins);
  }

  .carousel .card span {
    color: #6a6d78;
    font-size: 0.8em;
    font-family: var(--poppins);
  }
  .member h1 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--lato);
    margin-top: 20px;
  }
}

@media (max-width: 500px) {
  .logo img {
    width: 80px;
    max-width: none;
  }

  .navbar {
    gap: 0.5rem;
  }

  .burger {
    position: absolute;
    right: 30px; /* Adjust as needed */
    top: 55px;
    transform: translateY(-50%);
    z-index: 3;
  }

  .background {
    margin: 0;
    border-radius: 0;
    background-size: cover;
  }

  .case {
    padding: 0.5rem;
    font-size: 0.8em;
    top: auto;
  }

  .definition {
    padding: 0.5rem;
    margin: 0;
  }

  .explain {
    padding: 0.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .cycle {
    gap: 0.5rem;
  }

  .cards {
    padding: 0.5rem;
    font-size: 0.8em;
  }

  footer {
    padding: 0.5rem;
    font-size: 0.8em;
  }

  .container {
    height: 100%;
    width: auto; /* Biarkan lebar container ditentukan oleh isinya */
    padding: 5px;
    margin: 5px;
    display: grid;
    justify-content: center; /* Pusatkan konten secara horizontal */
    align-items: center; /* Pusatkan konten secara vertikal */
    transform: scale(1); /* Kembalikan skala ke normal untuk layar kecil */
    grid-template-columns: 1fr;
  }

  canvas {
    width: 100% !important;
    max-width: 400px; /* Batas maksimal lebar canvas */
    height: auto !important;
    max-height: 200px; /* Batas maksimal tinggi canvas */
    font-size: 0.8em;
  }

  .chart-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    flex-direction: column;
    align-items: center;
  }

  .chart-container h3 {
    font-size: 0.8rem; /* Ukuran font untuk judul */
    margin-bottom: 10px; /* Jarak bawah judul */
    text-align: center; /* Pusatkan teks judul */
  }

  .chart-container {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: grid;
    flex-direction: column;
    align-items: center;
  }

  .container_table {
    width: 100%;
    padding: 5px;
    transform: scale(1); /* Kembalikan skala ke normal untuk layar kecil */
  }

  .explain {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 0;
  }

  .wrapper .carousel {
    grid-auto-columns: calc((100% / 1) - 9px);
  }

  .carousel .card h2 {
    font-weight: 500;
    font-size: 0.8em;
    margin: 30px 0 5px;
    font-family: var(--poppins);
  }

  .carousel .card span {
    color: #6a6d78;
    font-size: 0.8em;
    font-family: var(--poppins);
  }

  .member h1 {
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: bold;
    font-family: var(--lato);
    margin-top: 20px;
  }
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-100%); /* Menggeser elemen ke atas */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Mengembalikan elemen ke posisi semula */
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes complexAnimation {
  from {
    opacity: 0;
    transform: translateX(100%) translateY(20px) scale(0.8); /* Mulai dari kanan, sedikit ke bawah, dan lebih kecil */
  }
  to {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1); /* Kembali ke posisi semula, ukuran normal */
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px); /* Mulai dari bawah */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Kembali ke posisi semula */
  }
}
